@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/*Limpar formatações padrão*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.6%;
}

html, body {
    height: 100vh;
    font-family: "Source Sans Pro";
    text-rendering: optimizeLegibility;
}

body {
    font-size: 1.6rem;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

/*
**** Formatação do header ****
*/

header {
    background-color: #7159c1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
}

header img {
    width: auto;
    margin-left: 20px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255,255,255, 0.15)
}

/*
**** Formatação do Slider ****
*/

/* Slideshow container */
.slideshow-container {
    max-width: 980px;
    position: relative;
    margin: auto;
}
  
  /* Hide the images by default */
.mySlides {
    display: none;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*
**** Formatação da seção hero ****
*/

h2 {
    color: rgb(75, 75, 75);
    font-size: 3.6rem;
    line-height: 4.6rem;
}

section.hero {
    margin: 70px 0;
}
  
section.hero .container {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: flex;
}
  
section.hero p {
    color: rgb(154, 142, 191);
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 10px 0px 0px;
}

section.hero img {
    width: 210px;
    height: 180px;
}

.button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 89, 193);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
  }
  
  .button:hover {
    opacity: 0.9;
  }

/*
**** Formatação menu ****
*/

main {
    margin-bottom: 40px;
}

/*
**** Formatação do cards ****
*/

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
  
.text--medium {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ecf0f1;
}
  
.card {
    display: flex;
    flex-direction: column;
    background-color: #7159c1;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.image {
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
    overflow: hidden;
    position: relative;
}

.image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin: 20px;
}

.title {
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-self: end;
    align-items: center;
}

.price {
    margin-left: auto;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #7159c1;
    filter: brightness(90%);
}

/*
**** Formatação do modal ****
*/

.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transform: scale(1.2);
}

.modal .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
}

.modal .close-modal svg {
    width: 18px;
    height: 18px;
}

.modal .modal-content {
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
}
  
.modal.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.modal.active .modal-content {
    opacity: 1;
}
  
.modal.active .close-modal {
    transform: translateY(10px);
    opacity: 1;
}
  
.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    background-color: white;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 90%;
    transform: translate(-50%, -50%);
}

/*
**** Formatação Entre em contato ****
*/

.contato {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: flex;
    padding-bottom: 20px
}

.contato p {
    color: rgb(154, 142, 191);
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 10px 0px 0px;
}

.contato a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(113, 89, 193);
  margin: 5px 10px 10px;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;

}

.contato a:hover {
    background: rgb(154, 142, 191);
}

/*
**** Formatação do rodapé ****
*/

#rodape{
	clear: both;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
	padding: 15px;
	background: #7159c1;
}

#rodape .buttonPlay {
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color: #7159c1;
    filter: brightness(90%);
}

/*
**** Formatação do Formulario ****
*/

#form {
    width:100%;
  
    background: rgb(114, 92, 180);
    padding: 80px 0;
    margin:0;
  
    display:flex;
    align-items: center;
    justify-content: center;
}
  
#form form {
    width: 90%;
    max-width: 980px;
  
    background: white;
    
    padding: 40px;

    border: 5px solid;
    border-radius: 10px;
    
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15), 
      0px 10px 20px -10px rgba(0, 0, 0, 0.1)
}
  
#form h3 {
    margin-bottom: 30px
}
  
.form-group {
    display: flex;
    flex-direction: row;
}
  
.form-group .input-control, select {
    flex: 1 1;
    display: block;
    font-weight: 500;
    margin: -4px 8px 10px;
    padding: 12px;
    font-size: 1.6rem;
}

button, option {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(113, 89, 193);
  margin: 15px 0px 0px;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}
  
#form .button {
    margin: 20px 8px 10px;
}

#form textarea {
    font-size: 1.55rem;
    font-family: sans-serif;
    resize: vertical;
}

#form .country {
    color: #717171;
}

/*
**** Formatação do Scroll ****
*/

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(146, 122, 219);
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}
  
#myBtn:hover {
    color: #FFF;
    background-color:  rgb(154, 142, 191);
}

#myBtn1 {
    display: flex; 
    position: absolute; 
    margin-left: 10px;
    z-index: 99; 
    border: #bbb; 
    outline: none; 
    background-color: rgb(113, 89, 193);
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    text-decoration: none; 
    font-size: 18px; 
}
  
#myBtn1:hover {
    color: #FFF;
    background-color:  rgb(154, 142, 191);
}

/* media queries */
@media (max-width: 904px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 761px) {
    .hero .container {
        flex-direction: column;
        text-align: center;
    }

    .hero .container img {
        order: -1;
        margin: auto;
        margin-bottom: 70px;
    }

    .slideshow-container, .dot {
        display: none;
    }
}

@media (max-width: 760px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #FFF;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* fullscreen */

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: #7159c1;

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(9px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -7px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }
}

@media (max-width: 732px) {
    .form-group {
        display: grid;
    }
    #myBtn1 {
        font-size: 100%;
        margin-top: 4px;
    }
}